@model int
@{
    ViewData["Title"] = "Delete Part";
}
<h2>Are you sure?</h2>
<a href="/home/Index" class="btn btn-default">Back</a>
<a href="/employee/destroy/@Model" class="btn btn-danger">Confirm Delete</a>