@model EditEmployee
<div class="container-fluid col-md-12">
    <h2>Modify Employee:</h2><br />
    <form class="col-md-12" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience"></label>
                <select asp-for="Experience" asp-items="Html.GetEnumSelectList<Experience>()" class="form-control"></select>
                <span asp-validation-for="Experience" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingDate"></label>
                <input asp-for="StartingDate" class="form-control" />
                <span asp-validation-for="StartingDate" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationDays"></label>
                <input asp-for="VacationDays" class="form-control" />
                <span asp-validation-for="VacationDays" class="form-text text-danger"></span>
                <input type="hidden" asp-for="CompanyId" />
            </div>
            <div>
                <input type="submit" value="Save Employee" class="btn btn-warning btn-md" />
            </div>
        </div> 
    </form>
</div>